:root {
  --gap-x: 1rem;
  --gap-y: 1rem;

  --padding-content: 1.2rem;
  --padding-box: 1rem var(--padding-content);
  --rounded-box: 0.4rem;

  --color-lines: #888888;
  --color-text: rgba(255, 255, 255, 0.88);
  --color-box: transparent;
  --border-box: var(--color-lines) 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Tree view */
.tree-view {
  width: 100%;
  padding: 1rem;
  color: var(--color-text);
  position: relative;
  z-index: 1;
}

/* Tree view list */
.tree-view ul {
  list-style-type: none;
  overflow: hidden auto;
}

/* Tree view list item */
.tree-view > ul > li:first-child::after {
  display: none;
}

/* Tree view body item */
.tree-view .tree-body li {
  position: relative;
  margin-left: var(--gap-x);
}

.tree-view .tree-body li ul li {
  position: relative;
  margin-left: calc(var(--gap-x) + 20px);
}

.tree-view .tree-body li::after,
.tree-view .tree-body li:has(ul):last-child .tree-item::after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--color-lines);
  position: absolute;
  top: calc(var(--gap-y) * -1);
  left: 0;
}

.tree-view .tree-body li:last-child::after,
.tree-view .tree-body li:has(ul):last-child > .tree-item::after {
  height: calc(var(--gap-y) + 50%);
  top: calc(calc(0px - var(--gap-y)) - 15px);
}

.tree-view .tree-body li:has(ul):last-child::after,
.tree-view .tree-body li:not(:has(>ul)):last-child > .tree-item::after {
  height: 0;
}

/* Tree view item curve */
.tree-view .tree-body .tree-item .tree-curve {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-100%);
}

/* Tree view item */
.tree-view .tree-item {
  position: relative;
}

/* Tree view body */
.tree-view .tree-body {
  padding-top: var(--gap-y);
}

.tree-view .tree-body .tree-item .tree-content {
  padding: var(--gap-y) calc(var(--padding-content) + 1rem);
}

.tree-view .tree-body .tree-item .tree-content:has(.tree-box) {
  padding: calc(var(--gap-y) - 0.8rem) 0;
}

/* Tree view content and box */
.tree-view .tree-content,
.tree-view .tree-box {
  width: 100%;
  position: relative;
  z-index: 2;
}

/* Tree view box */
.tree-view .tree-box {
  border: var(--border-box) solid;
  border-radius: var(--rounded-box);
  padding: var(--padding-box);
}

.tree-view .tree-body .tree-item .tree-box {
  width: calc(100% - 20px);
  margin-left: 20px;
  padding-left: var(--padding-content);
}
